
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/img/escom.jpg" class="d-block w-100 carousel_img" alt="escom">
                <div class="carousel-caption d-none d-md-block">
                  <h5><font color = "White">ESCUELA SUPERIOR DE CÓMPUTO (1994)</font></h5>
                  <p><font color = "White">Entre 1993 y 1994 la ESCOM abrio sus puertas a los alumnos</font></p>
                  <p><font color = "White">que deseaban adquirir conocimientos en sistemas computacionales.</font></p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <img src="/img/mujeresescom.jpg" class="d-block w-100 carousel_img" alt="mujeresescom">
                <div class="carousel-caption d-none d-md-block">
                  <h5><font color = "White">8 Marzo</font></h5>
                  <p><font color = "White">Por que aunque somos menos, hacemos mas. #MUJER#ESCOM#8M</font></p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="6000">
                <img src="/img/escomtop.jpg" class="d-block w-100 carousel_img" alt="escomtop">
                <div class="carousel-caption d-none d-md-block">
                  <h5><font color = "White">ESCUELA SUPERIOR DE COMPUTO (2021)</font></h5>
                  <p><font color="White">Con instalaciones para que nuestros estudiantes puedan alcanzar sus metas en al area</font></p>
                  <p><font color="White">de sistemas computacionales.</font></p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <br>
          <br>

          
       
      </main>
      <table class="tabla_titulo">
        <tr>
          <td class="columna_titulo"><hr size= 5></td>
          <td class="columna_titulo"><h3>INFORMACIÓN</h3></td>
          <td class="columna_titulo"><hr size= 5></td>
        </tr>
      </table>
      <br>
      <div class="linea_info">
        <a href="/vervacantes" style="color:rgb(255, 255, 255);"><div class = "tarjeta">
          <div class="imagen_tarjeta">
            <img src="/img/google-docs.png">
          </div>
          <div class="titulo_tarjeta">
            <h5>Vacantes para servicio social</h5>
          </div>
        </div></a>
        <a href="https://serviciosocial.ipn.mx/infoServSoc/RequisitosServSocial.do;jsessionid=D23DF8AF6AEEA5A9C6A9FDEB5E0F3E12" target="_blank" style="color:#000000;">
          <div class = "tarjeta">
          <div class="imagen_tarjeta">
            <img src="/img/comprobar.png" >
          </div>
          <div class="titulo_tarjeta">
            <h5>Requisitos de servicio social</h5>
          </div>
        </div></a>
        <a href="https://www.escom.ipn.mx/" target="_blank" style="color:#000000;">
          <div class = "tarjeta">
          <div class="imagen_tarjeta">
            <img src="/img/sombrero-de-graduacion.png">
          </div>
          <div class="titulo_tarjeta">
            <h5>ESCOM</h5>
          </div>
        </div></a>
      </div>
