<div class="area_bitacora">
        <div class="formulariobitacora">
            <div class="card-footer">
                <form action="POST">
                    
                    <div class="form-group">
                        <label>Fecha:</label>
                        <input type="date" name="fecha" id="Fecha" class="form-control" autofocus>
                    </div>
                    <br>

                    <div class="form-group">
                        <label>Horas cumplidas:</label>
                        <input type="text" name="hrsCum" placeholder="ej.'8hrs'" id="hrsCum" class="form-control">
                    </div>
                    <br>

                    <div class="form-group">
                    <label>Actividades realizadas:</label>
                        <input type="text"   placeholder = "Actividad" name="actBitacora" class="form-control">
                        <div id="containerBitacora" class="newInput"></div>
                       <button type="button" onclick="createInputBitAct()">Agregar</button>

                    </div>
                    <br>
                    
                <button class="btn btn-lg btn-primary" type="button"> <style> button{width: 100%;} </style> Registrar</button>

                    
        </div>
       </div>

       </div>
       