<h2>Bitacoras</h2>
<br>
<div class="row">
    {{#each bitacoras}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4>{{this}}</h4>

                </div>
            </div>
        </div>
    {{/each}}
</div>