<div class="area_bitacora">
        <div class="formulario">
            <div class="card-footer">
                <form action="POST">
                    
                    <div class="form-group">
                        <label>Fecha:</label>
                        <input type="date" name="fecha" id="Fecha" class="form-control" autofocus>
                    </div>
                    <br>

                    <div class="form-group">
                        <label>Horas cumplidas:</label>
                        <input type="text" name="hrsCum" placeholder="ej.'8hrs'" id="hrsCum" class="form-control">
                    </div>
                    <br>

                    <div class="form-group">
                        <label>Actividades realizadas:</label>
                        <input type="text" name="ActReali" placeholder="Actividades" id="ActReali" class="form-control">
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button class="btn btn-lg btn-primary" type="button"> <style> button{width: 100%;} </style> Agregar</button>
                    <br>
        </div>
       </div>
       <div class="formulario">
        <div class="card-footer">
            <form action="POST">
                
                <div class="form-group">
                    <label>Actividades realizadas:</label>
                    <textarea  name="shwAct" id="shwAct" rows="15" class="form-control"  disabled></textarea>
                </div>
                <br>
                
                <button class="btn btn-lg btn-primary" type="button"> <style> button{width: 100%;} </style> Registrar</button>
                <br>
        </div>
        </div>

       </div>
       