<div id="msgArea" class="leyenda">
        <a href="/users/signup">Crea tu perfil</a>
        <p id="msg"> Con tu perfil encuentra tu vacante ideal</p>
        <hr>
      </div>

    <form action="/vacantes" method="POST">
      <div class="selector">
      <select id="selectorColor" class="form-select" aria-label="Default select example" name="speciality ">
        <option selected>Áreas de especialización</option>
        <option value="Web Development">Web Development</option>
        <option value="Big Data">Big Data</option>
        <option value="Software Engineering">Software Engineering</option>
        <option value="Artificial Intelligence">Artificial Intelligence</option>
        <option value="Design Thinking">Design Thinking</option>
        <option value="Mobile Services">Mobile Services</option>
        <option value="Cybersecurity">Cybersecurity</option>
      </select>
    </div>
    
    <div class="form-check form-switch filtro">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" name="filter1">
      <label id="label1" class="form-check-label" for="flexSwitchCheckDefault">Mostrar solo ofertas recientes</label>
    </div>

    <div class="form-check form-switch filtro">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked name="filter2">
      <label id="label2" class="form-check-label" for="flexSwitchCheckChecked">Mostrar solo ofertas con más de un candidato</label>
    </div>
    <br>
    <button class="btn btn-lg btn-primary"> <style> button{width: 100%;} </style> Aplicar filtros</button>
    </form>
      <hr id="hr1">
      <main> 

        <h2 id="title">Ofertas recientes</h2>
        <hr id="hr2">
        <div class="main">
          <div class="ofertasIframe">
            <iframe src="/vacantes" width="85%" height="750px" id="iframe"></iframe>
          </div>
  
            <div class="descripcionCompleta">
              <h3>UI/UX Design Specialist</h3>
              <p>Buscamos candidato para servicio social especialista en UI/UX</p>
              <iframe src="/html/contenidoOferta.html" frameborder="0" width="100%" height="550px"></iframe>
                <hr>
              <button type="button" class="btn btn-primary">Aplicar</button>
            </div>
        </div>
       
      </main>