.formulariobitacora{
    box-shadow: 2px -2px 5px 5px rgba(0, 46, 65, 0.164);
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 20px;
    
}
.area_bitacora{
    
    background-color: rgb(248, 248, 248);
    height: 600px;
}