/* estilos del iframe de ofertas */

body{
    background-color: rgb(248, 248, 248);
}

#bodyOf{
    background-color: white;
    padding: 10px;
}

#bodyCont{
    background-color: white;
    padding: 10px;
}

.leyenda{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
}

.leyenda a, p{
    font-weight: bold;
}
main h2{
    text-align: center;
}


.contenedorOfertas{
    margin: 0;
    max-width: 40%;
}

/*
.oferta{
    margin-bottom: 20px;
    box-shadow: 2px 2px 1px 1px rgba(0, 46, 65, 0.164);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 200px;
}
*/
/*
.paginas{
    margin-left: 50%;
    transform: translateX(-50%);
}
*/

/* estilos del contenido general */

.main{
    display: flex;
    padding: 2%;
    justify-content: space-around;
    align-items: center;
}

.main>*:first-child {
    align-self: stretch;
}

.ofertasIframe{
    min-width: 45%;
}

#iframe{
    box-shadow: 2px -2px 5px 5px rgba(0, 46, 65, 0.164);
    border-radius: 10px;
    width: 100%;
}

.oferta{
    box-shadow: 2px -2px 5px 5px rgba(0, 46, 65, 0.164);
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    margin-bottom: 10%;
}

.oferta:hover{
    box-shadow: 3px -3px 7px 7px rgba(104, 151, 179, 0.692);
    cursor: pointer;
    transition: box-shadow 0.3s ease-out;
}

.compania{
    color: rgb(50, 50, 226);
}

.descripcion_oferta{
    text-align: justify;
    font-weight: 200;
    font-size: 1.3rem;
}

.contenedorOferta{
    display: flex;
}

.ofertaCompleta{
    width: 100%;
}


.tituloVacante{
    margin-bottom: 2%;
    font-size: 2rem;
}

.companiaVacante{
    color: rgb(50, 50, 226);
    font-weight: bold;
    font-size: 1.5rem;
}

.descripcion_Vacante{
    text-align: justify;
    font-weight: 100;
    font-size: 1.5rem;
}

.itemListaVacante{
    font-size: 1.4rem;
    text-align: justify;
}

.listaVacante{
    margin-bottom: 3%;
}

.tituloSeccionVacante{
    color: #2665FF;
    margin-bottom: 2%;
    border-bottom: solid 2px rgb(50, 50, 226);
}

.contenedorIframeAux{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imgIframe{
    width: 50%;
}

.list-group-item{
    font-size: 1.25rem;
}

@keyframes anim{
    0% {color: #2665FF;} 
   25% {color: #425faa;} 
   50% {color: #000;} 
   75% {color: rgb(50, 50, 226);} 
  100% {color: rgb(57, 112, 194);} 
}

.tituloIFrameAux {
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}



@media (max-width: 1100px){
    .main{
        justify-content: center;
    }
    .contenedorOfertas{
        min-width: 60%;
    }

    .oferta{
        width: 100%;
    }
    .ofertasIframe{
        display: none;
    }
}

@media (max-width: 600px){
    .contenedorOfertas{
        min-width: 100%;
    }

}

.prueba{
    background-color: #21233B;
}