       <div class="contenedorOferta"> 
          
        <div class="ofertaCompleta">
            <h3 class="titulo"> {{name}} </h3>
            <p class="descripcion_oferta">{{completeDescription}}</p>
         
         </div> 
        </div>

