<h1>Completa tu perfil</h1>

<div class="userProfileForm">
<form action="/userProfile/completeProfile" method="POST">

<label for="photo">Selecciona foto de perfil</label>
<br><br>
<input type="file" name="photo" accept="image/png, image/jpeg">
<br><br>

<label for="profession">Agrega un titulo de tu descripción</label>
<br><br>
<input type="text" placeholder="Ej: JR Web Developer" name="profession">
<br><br>

<label for="repository">Agrega algún link hacia tu portafolio</label>
<br><br>

<input type="text" placeholder="Ej: Repositorios de GitHub" name="repository">
<br><br>

<label for="curriculum">Agrega tu curriculum</label>
<br><br>

<input type="file" name="curriculum" accept="application/pdf">
<br><br>

<label for="personalDescription">Agrega un descripción personal</label>
<br><br>

<textarea name="personalDescription" cols="60" rows="10" maxlength="400"></textarea>
<br><br>

<button class="btn btn-lg btn-primary"> <style> button{width: 100%;} </style> Completar perfil</button>
<br><br>
</div>
</form>