<h2>Bienvenido {{users.name}} </h2>

      <div class="flex-container">

        <div class="imagen">
          <img src="/img/foto.jpeg" alt="">
          <div class="infoImagen">
            <p>Jr Web Developer</p>
            <p class="blockquote-footer">Correo: anya123@alumno.ipn.mx </p>
            <p class="blockquote-footer">Telefono: 5578009612</p>
            <p class="blockquote-footer">GitHub: @anya05</p>
          </div>
        </div>

      <div class="menu">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#profile">Curriculum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#description">Descripción Personal</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active show" id="home">
            <ul>
              <li><a href="#"> proyecto 1</a></li>
              <li><a href="#"> proyecto 2</a></li>
              <li><a href="#"> proyecto 3</a></li>
              <li><a href="#"> proyecto 4</a></li>
  
            </ul>
          </div>
          <div class="tab-pane fade" id="profile">
            <button class="btn btn-lg btn-primary Curriculum" type="button">Mi Curriculum</button>
          </div>

          <div class="tab-pane fade" id="description">
            <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laboriosam iusto voluptas sint. Provident id adipisci blanditiis, unde vitae ad atque velit quis voluptas consequuntur quibusdam accusamus consequatur labore! Temporibus illum laboriosam voluptatum reiciendis id culpa cum quis eligendi tenetur vero debitis, veniam quasi veritatis optio, deleniti iure officiis. Ipsa?</p>
          </div>
        </div>
      </div>

      <div class="calendario">
        <iframe class="iframe" src="https://calendar.google.com/calendar/embed?src=luisdavid202075%40gmail.com&ctz=America%2FMexico_City" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>