<div class="flex-container agendaLectura">
<p id="textoFecha">Hoy es: <br><br> {{agendas.[0].fecha}}</p>
    <p id="textoAgenda">
        Hoy debes hacer: <br><br>
        {{#each agendas}}
            {{#each acti}}
                {{this}} <br>
            {{/each}}
        {{/each}}
    </p>
      <button class="btn-primary btn-lg" id="botonLectura" class="boton_qr">Escuchar</button>
</div>