    <div class="col-md-4 offset-md-4 formulario">
        <div class="card">
            <div class="card-header">
                <style>h1{text-align: center;}</style>
                <h1>Inicio de Sesión</h1>
            </div>

            <div class="card-body"></div>

            <div class="card-footer">
                <form action="POST">
                    <div class="form-group">
                        <input type="text" name="boleta" placeholder="Boleta" id="Boleta" class="form-control" autofocus>
                    </div>
                    <br>

                    <div class="form-group">
                        <input type="text" name="contrasena" placeholder="Contraseña" id="Contrasena" class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-lg btn-primary" type="button"> <style> button{width: 100%;} </style> Iniciar Sesión</button>
                    <br><br>
                    <div class="link">
                        <style>.link{text-align: center;}</style>
                        <a href="#"> Olvidé mi contraseña</a>
                        <br><br>
                        <a href="/users/signup">  Crear Cuenta</a>
                    </div>  
                </form>
            </div>

        </div>
    </div>