<div class="col-md-6 offset-md-3 formulario">
        <div class="card">
            <div class="card-header">
                <style>h1{text-align: center;}</style>
                <h1>Registrar Cuenta</h1>
            </div>
            <div class="card-body"></div>

            <div class="card-footer">
                <form action="POST">
                    
                    <div class="form-group">
                        <input type="text" name="nombre" placeholder="Nombre" id="Nombre" class="form-control" autofocus>
                    </div>
                    <br>

                    <div class="form-group">
                        <input type="text" name="apellidoPaterno" placeholder="Apellido Paterno" id="ApellidoPaterno" class="form-control">
                    </div>
                    <br>

                    <div class="form-group">
                        <input type="text" name="apellidoMaterno" placeholder="Apellido Materno" id="ApellidoMaterno" class="form-control">
                    </div>
                    <br>

                    <div class="form-group">
                        <input type="text" name="boleta" placeholder="Boleta" id="Boleta" class="form-control">
                    </div>
                    
                    <div class="form-group">
                    <label for="exampleSelect1" class="form-label mt-4">Carrera</label>
                    <select class="form-select" id="exampleSelect1">
                      <option>Ingeniería en Sistemas Computacionales Plan 2009</option>
                      <option>Ingeniería en Sistemas Computacionales Plan 2020</option>
                      <option>Licenciatura en Ciencia De Datos</option>
                      <option>Licenciatura en Inteligencia Artificial</option>
                    </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" name="correo" placeholder="Correo Institucional" id="Correo" class="form-control">
                    </div>
                    <br>

                    <div class="form-group">
                      <input type="text" name="telefono" placeholder="Telefono" id="Telefono" class="form-control">
                  </div>
                  <br>

                    <div class="form-group">
                        <input type="text" name="contrasena" placeholder="Contraseña" id="Contrasena" class="form-control">
                    </div>
                    <br>
                    <button class="btn btn-lg btn-primary" type="button"> <style> button{width: 100%;} </style> Crear Cuenta</button>
                    <br><br>
                    <div class="link">
                        <style>.link{text-align: center;}</style>
                        <a href="/users/signin">  Ya tengo una cuenta</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>